/* *** BASE STYLES *** */


body {
  padding: 0;
  margin: 0;
  font-family: 'lato', sans-serif;
  background: #F4F3EF;
  font-size: 16px;
}

/* #about{
  background: #FFDED3;
} */

#portfolio{
  overflow: auto;
}
#contact{
  background: #FFDED3;
}
footer {
  background: #FFDED3;
}
/*--- navigation bar ---*/
.navbar {
  justify-content: flex-end;
  position: relative;
  z-index: 2;
}
.nav-link,
.navbar-brand {
  color: #F4F3EF;
  cursor: pointer;
}
.nav-link {
  margin-right: 1em !important;
  text-transform: uppercase;
}
.nav-link:hover {
  color: #FFDED3;
}
.navbar-collapse {
  justify-content: flex-end;
}

button.navbar-toggle {
  border: none;
  background-color: rgba(0,0,0,0);
}

/*--- header ---*/
.header {
    background-image: url('../img/sky-hero.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    max-width: 100%;
    height: auto;
    overflow: hidden;
  }

  .header h1{
    font-family: 'ovo', serif;
    font-size: 4rem;
    padding-top: 3em; 
    margin-left: 1rem;
    color: #2A303D;
}
header h1 span {
  color: #DDAC30;
  font-weight: 700; 
  text-shadow: 2px 2px #6A717C;
}
header h2{
  font-family: 'lato', sans-serif;
  font-size: 1.5rem;
  font-style: italic;
  padding-right: 40rem;
  margin:2rem;
  color: #F4F3EF;
}

  /* .overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
  } */

  /*--- footer ---*/
  .page-footer {
    padding: 60px 0 30px;
    background: #FFDED3;
  }
  .footer-copyright {
    color: #6A717C;
    padding: 40px 0 20px;
  }


/* *** HOME PAGE *** */

/*--- work ---*/

#portfolio {
  padding: 10% 0;
}
#portfolio h3{
  font-family: 'ovo', serif;
  font-size: 2.25rem;
  text-align: center;
  color: #2A303D;
  padding-bottom: 2%;
}
#portfolio .col-md {
  margin-bottom: 10%;
}
#portfolio img {
  width: 80%;
  margin: 3% 10%;
  border: 3px solid white;
  
}
#portfolio h4 {
  font-family: 'lato', sans-serif;
  font-size: 1.1rem;
  text-align: center;
  color: #2A303D;
}
#portfolio p {
  font-family: 'lato', sans-serif;
  font-size: 0.8rem;
  text-align: center;
  margin: 0 15%;
  color: #6A717C;
}
#portfolio a {
  text-decoration: none;
}

/*--- about ---*/
#about {
  padding: 10% 0;
}

hr {
  width: 50%;
  border-top: 2px solid #FFDED3; 
}

#about h3{
  font-family: 'ovo', serif;
  font-size: 2.25rem;
  text-align: center;
  color: #DDAC30;
}
#about img {
  width: 50%;
  margin: 25%;
  margin-top: 10%;
  border: 3px solid #eceadf;
}
#about .col-md p {
  font-family: 'lato', sans-serif;
  font-size: 1.1rem;
  margin: 10%;
  margin-top: 0;
  color: #6A717C;
  font-weight: 300;
}


/* *** End HOME PAGE *** */

/* *** FOOTER *** */

#contact h3{
  font-family: 'ovo', serif;
  font-size: 2.25rem;
  text-align: center;
  color: #DDAC30;
  padding-bottom: 2rem;
}
#contact h4 {
  font-family: 'lato', sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
  color: #DDAC30;
  padding-bottom: 5%;
}
#contact p {
  font-family: 'lato', sans-serif;
  font-size: 1rem;
  text-align: center;
  color: #DDAC30;
}
#contact a {
  text-decoration: none;
}
#contact ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
 
}
#contact ul li {
  display: inline-block;
}
#contact ul li a {
  color: #DDAC30;
  font-size: 2rem;

}

/* *** End FOOTER *** */

/* ----- MEDIA QUERIES ----- */


  @media (max-width: 575.98px) {
    .description {
      left: 0;
      padding: 0 15px;
      position: absolute;
      top: 10%;
      transform: none;
    }
    
    .description h1 {
      font-size: 2.5em;
      padding-right: 3.5em;
    }
    .description h2 {
      font-size: 1.2em;
      padding-right: 3em;
    }
    
    .description p {
      font-size: 1.2rem;
    }
    
    .features {
      margin: 0;
    }
  }

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  
     
  .description {
    left: 0;
    padding: 0 15px;
    position: absolute;
    top: 10%;
    transform: none;
  }
  
  .description h1 {
    font-size: 2em;
    padding-right: 3.5em;
  }
  .description h2 {
    font-size: 1em;
    padding-right: 15rem;
  }

}

 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
  .description {
    left: 0;
    padding: 0 15px;
    position: absolute;
    top: 10%;
    transform: none;
  }
  
  .description h1 {
    font-size: 4rem;
    padding-right: 3.5em;
  }
  .description h2 {
    font-size: 1.8rem;
    padding-right: 32rem;
  }

  .navbar-toggle {
    display: none;
  }
  #about {
    padding: 4% 0;
  }
 #portfolio {
    padding: 5% 0;
  }
  .footer-copyright {
    padding: 80px 0 10px;
  }
 
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  
  #about .col-md p {
    margin-top: 10%;
  }
  #portfolio .col-md {
    margin-bottom: 5%;
  }

  #portfolio p {
    font-size: 0.9rem;
  }
  
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
    
}
 
 
 
/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Custom media queries
*/
 
/* Set width to make card deck cards 100% width */
@media (max-width: 950px) { 
 
}