/* *** BASE STYLES *** */


body {
  padding: 0;
  margin: 0;
  font-family: 'lato', sans-serif;
  background: #F4F3EF;
  font-size: 16px;
}

p {
  color: #6A717C; 
}

/* #about{
  background: #EAD0C9;
} */

#portfolio{
  overflow: auto;
}
#contact{
  background: #EAD0C9;
}
footer {
  background: #EAD0C9;
}
/*--- navigation bar ---*/
.navbar {
  justify-content: flex-end;
  position: relative;
  z-index: 2;
}
.nav-link,
.navbar-brand {
  color: #F4F3EF;
  cursor: pointer;
  text-shadow: 1px 1px #DDAC30;
}
.nav-link {
  margin-right: 1em !important;
  text-transform: uppercase;
}
.nav-link:hover {
  color: #EAD0C9;
}
.navbar-collapse {
  justify-content: flex-end;
}

button.navbar-toggle {
  border: none;
  background-color: rgba(0,0,0,0);
}

/*--- header ---*/
.header {
    background-image: url('../img/hero-sky.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    max-width: 100%;
    height: auto;
    overflow: hidden;
  }

  .header h1{
    font-family: 'ovo', serif;
    font-size: 4rem;
    padding-top: 3em; 
    margin-left: 1rem;
    color: #2A303D;
}
header h1 span {
  color: #DDAC30;
  font-weight: 700; 
  text-shadow: 2px 2px #F4F3EF;
}
header h2{
  font-family: 'lato', sans-serif;
  font-size: 1.5rem;
  font-style: italic;
  padding-right: 40rem;
  margin:2rem;
  color: #F4F3EF;
}

.birds img {
  width: 70%;
}

.birds-pink {
  position: absolute;
  bottom: 4.5rem;
  left: 0rem;
}

.birds-yellow {
  position: absolute;
  bottom: 4.5rem;
  left: 0rem;
}

/* .birds-pink.services  {
  position: absolute;
  bottom: -1rem;
  left: 7rem;
}
.birds-yellow.services {
  position: absolute;
  bottom: -1rem;
  left: 7rem;
} */

  /* .overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
  } */

  /*--- footer ---*/
  .page-footer {
    padding: 60px 0 30px;
    background: #EAD0C9;
  }
  .footer-copyright {
    color: #6A717C;
    padding: 40px 0 20px;
  }


/* *** HOME PAGE *** */

/*--- work ---*/

#portfolio {
  padding: 10% 0;
}
#portfolio h3{
  font-family: 'ovo', serif;
  font-size: 2.25rem;
  text-align: center;
  color: #2A303D;
  padding-bottom: 2%;
}
#portfolio .col-md {
  margin-bottom: 10%;
}
#portfolio img {
  width: 80%;
  margin: 3% 10%;
  border: 3px solid white;
  
}
#portfolio h4 {
  font-family: 'lato', sans-serif;
  font-size: 1.1rem;
  text-align: center;
  color: #2A303D;
}
#portfolio p {
  font-family: 'lato', sans-serif;
  font-size: 0.8rem;
  text-align: center;
  margin: 0 15%;
  color: #6A717C;
}
#portfolio a {
  text-decoration: none;
}

#portfolio .btn {
  font-family: 'lato', sans-serif;
  font-size: 0.8rem;
  text-align: center;
  color: #F4F3EF;
  background: #DDAC30;
  border: none;
  padding: 1% 4%;
  border-radius: 10px;
  text-transform: uppercase; 
}

#portfolio .btn:hover {
  background: #ECD18E;
}


/*--- about ---*/
#about {
  padding: 10% 0;
}

hr {
  width: 50%;
  border-top: 2px solid #EAD0C9; 
}

#about h3{
  font-family: 'ovo', serif;
  font-size: 2.25rem;
  text-align: center;
  color: #DDAC30;
}
#about img {
  width: 50%;
  margin: 25%;
  margin-top: 10%;
  border: 3px solid #eceadf;
}
#about .col-md p {
  font-family: 'lato', sans-serif;
  font-size: 1.1rem;
  margin: 10%;
  margin-top: 0;
  color: #6A717C;
  font-weight: 300;
}


/* *** End HOME PAGE *** */

/* *** SERVICES PAGE *** */

.services-header {
  background-image: url('../img/hero-sky.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  max-width: 100%;
  height: 17rem;
  overflow: hidden;
}

.services-header .description h1{
  font-family: 'ovo', serif;
  font-size: 2rem;
  padding-top: 3em; 
  margin-left: 1rem;
  color: #F4F3EF;
}
.services-header .description h1 span {
color: #DDAC30;
font-weight: 700; 
text-shadow: 2px 2px #F4F3EF;
}

.birds-pink.services  {
  position: absolute;
  bottom: -2rem;
  left: 5rem;
}
.birds-yellow.services {
  position: absolute;
  bottom: -2rem;
  left: 5rem;
}

#services {
  padding-bottom: 2%;
}
#services-bio p {
  width: 90%;
  margin: 4%;
  padding: 1rem;
  color: #6A717C; 
  font-size: 0.8rem;
}
#services-bio {
  width: 60%;
  color: #6A717C; 
  margin: 2rem auto;
  border: 2px solid #EAD0C9;
  position: relative;
}

#services-bio:before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 5px;
  left: 5px;
  right: -8px;
  bottom: -8px;
  border: 1px solid #DDAC30;
}

#services h4 {
  font-size: 1.2rem;
  text-align: center;
  margin-top: 2rem;
}

#services i {
  color: #EAD0C9;
  font-size: 3rem;
  text-align: center;
  margin: 0 45%;
}

#services .container {
  margin-top: 2rem;
}

#services .col-md {
  padding-top: 2rem;
}
.services-container p {
  width: 70%;
  margin: 1rem auto;
}



#packages .row {
  padding-bottom: 2rem;
}
#packages h3 {
  font-family: 'ovo', serif;
  font-size: 2.25rem;
  text-align: center;
  color: #2A303D;
  padding: 5% 0 3%;
}

#packages h4 {
  font-family: 'ovo', serif;
  color: #DDAC30; 
  font-weight: bold;
  padding-bottom: 1rem;
}

#packages h5 {
  font-size: 1.2rem;
  padding-bottom: 1rem;

}

#packages .col-sm-7 {
  width: 80%;
  margin: auto;
}

#packages img {
  display: none;
}

#packages .btn {
  font-family: 'lato', sans-serif;
  font-size: 0.8rem;
  text-align: center;
  color: #F4F3EF;
  background: #DDAC30;
  border: none;
  padding: 2% 8%;
  text-transform: uppercase; 
  margin: 1rem 0;
}

#packages .btn:hover {
  background: #ECD18E;
}


/* 
Birds in section
#services .birds img {
  width: 50%;
  margin: 0;
  border: none;
  bottom: 32rem;
    left: 10rem;
} */


/* *** End SERVICES PAGE *** */

/* *** PORTFOLIO PAGE *** */
.portfolio-header {
  background-image: url('../img/hero-sky.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  max-width: 100%;
  height: 17rem;
  overflow: hidden;
}

.portfolio-header .description h1{
  font-family: 'ovo', serif;
  font-size: 2rem;
  padding-top: 3em; 
  margin-left: 1rem;
  color: #F4F3EF;
}
.portfolio-header .description h1 span {
color: #DDAC30;
font-weight: 700; 
text-shadow: 2px 2px #F4F3EF;
}

.birds-pink.portfolio  {
  position: absolute;
  bottom: -2rem;
  left: 5rem;
}
.birds-yellow.portfolio {
  position: absolute;
  bottom: -2rem;
  left: 5rem;
}

/* 
Birds in section
#portfolio .birds img {
  width: 50%;
  margin: 0;
  border: none;
  bottom: 32rem;
    left: 10rem;
} */


/* *** End PORTFOLIO PAGE *** */

/* *** FOOTER *** */

#contact h3{
  font-family: 'ovo', serif;
  font-size: 2.25rem;
  text-align: center;
  color: #DDAC30;
  padding-bottom: 2rem;
}
#contact h4 {
  font-family: 'lato', sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
  color: #DDAC30;
  padding-bottom: 5%;
}
#contact p {
  font-family: 'lato', sans-serif;
  font-size: 1rem;
  text-align: center;
  color: #DDAC30;
}
#contact a {
  text-decoration: none;
}
#contact ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
 
}
#contact ul li {
  display: inline-block;
}
#contact ul li a {
  color: #DDAC30;
  font-size: 2rem;

}

/* *** End FOOTER *** */

/* ----- MEDIA QUERIES ----- */


  @media (max-width: 575.98px) {
    .description {
      left: 0;
      padding: 0 15px;
      position: absolute;
      top: 10%;
      transform: none;
    }
    
    .description h1 {
      font-size: 2.5em;
      padding-right: 3.5em;
    }
    .description h2 {
      font-size: 1.2em;
      padding-right: 3em;
    }
    
    .description p {
      font-size: 1.2rem;
    }
    
    .features {
      margin: 0;
    }

    .portfolio-header .description h1, .services-header .description h1{
      font-size: 2em;
      padding-right: 2em;
    }
  }

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  
     
  .description {
    left: 0;
    padding: 0 15px;
    position: absolute;
    top: 10%;
    transform: none;
  }
  
  .description h1 {
    font-size: 2em;
    padding-right: 3.5em;
  }
  .description h2 {
    font-size: 1em;
    padding-right: 15rem;
  }

}

 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
  .description {
    left: 0;
    padding: 0 15px;
    position: absolute;
    top: 10%;
    transform: none;
  }
  
  .description h1 {
    font-size: 4rem;
    padding-right: 3.5em;
  }
  .description h2 {
    font-size: 1.8rem;
    padding-right: 12rem;
  }

  .birds img {
    width: 40%;
  }
  .birds-pink {
    position: absolute;
    bottom: 8rem;
    left: 20rem;
  }
  
  .birds-yellow {
    position: absolute;
    bottom: 8rem;
    left: 20rem;
  }

  .birds-pink.services  {
    position: absolute;
    bottom: -1rem;
    left: 25rem;
  }
  .birds-yellow.services {
    position: absolute;
    bottom: -1rem;
    left: 25rem;
  }
  .birds-pink.portfolio  {
    position: absolute;
    bottom: -1rem;
    left: 25rem;
  }
  .birds-yellow.portfolio {
    position: absolute;
    bottom: -1rem;
    left: 25rem;
  }
  .birds-yellow.packages {
    position: absolute;
    bottom: 8rem;
    left: 0rem;
  }
  .birds-pink.packages  {
    position: absolute;
    bottom: 8rem;
    left: 0rem;
  }

/* 
Birds in section
#portfolio .birds img {
  width: 40%;
  margin: 0;
  border: none;
  bottom: 45rem;
  left: 25rem;
}
#services .birds img {
  width: 40%;
  margin: 0;
  border: none;
  bottom: 45rem;
  left: 25rem;
} */

  .navbar-toggle {
    display: none;
  }
  #about {
    padding: 4% 0;
  }
 #portfolio {
    padding: 5% 0;
  }
  .footer-copyright {
    padding: 80px 0 10px;
  }

  .portfolio-header .description, .services-header .description {
    left: 0;
    padding: 0 15px;
    position: absolute;
    transform: none;
  }
  
  .portfolio-header .description h1, .services-header .description h1 {
    font-size: 3rem;
    padding-right: 3.5em;
    padding-top: 4rem;
  }
  .portfolio-header .description h2, .services-header .description h2 {
    font-size: 1.8rem;
    padding-right: 32rem;
  }
  .services-container {
    width: 80%;
  }
  .services-container p {
    width: 80%;
    margin: 1rem auto;
    font-size: 0.9rem;
  }

  #services-bio p {
    font-size: 1rem;
  }
  #packages h3 {
  
    padding: 3% 0;
  }

  #packages h4 {
    font-size: 2rem;
  }

  #packages .right {
    text-align: right;
  }
  
  #packages .left {
    text-align: left;
  }
  #packages img {
    display: initial;
    width: 60%;
    margin: 0 10%;
  }

  #packages .left img {
    margin-left: 8rem;
  }
  #packages .right img {
    margin-right: 8rem;
  }

  #packages .col-sm-7 {
    margin: 0;
  }
  #packages .left .col-sm-7 {
   padding-right: 4rem;
  }
  #packages .right .col-sm-7 {
    padding-left: 4rem;
   }

  
 
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  
  .description h2 {
    font-size: 1.8rem;
    padding-right: 32rem;
  }
  .birds-pink {
    position: absolute;
    bottom: 3rem;
    left: 36rem;
  }
  
  .birds-yellow {
    position: absolute;
    bottom: 3rem;
    left: 36rem;
  }
  .birds-pink.packages {
    position: absolute;
    bottom: -1rem;
    left: 0rem;
  }
  
  .birds-yellow.packages {
    position: absolute;
    bottom: -1rem;
    left: 0rem;
  }

  /* 
  Birds in section
  #portfolio .birds img {
    width: 40%;
    margin: 0;
    border: none;
    bottom: 27rem;
    left: 35rem;
  }
  #services .birds img {
    width: 40%;
    margin: 0;
    border: none;
    bottom: 27rem;
    left: 35rem;
  } */

  #about .col-md p {
    margin-top: 10%;
  }
  #portfolio .col-md {
    margin-bottom: 5%;
  }

  #portfolio p {
    font-size: 0.9rem;
  }

  .services-container p {
    width: 80%;
    margin: 1rem auto;
    font-size: 1rem;
  }
  #services-bio p {
    padding: 0;
    font-size: 1rem;
  }



  #packages .row {
    padding-bottom: 5rem;
  }
  
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
    
}
 
 
 
/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Custom media queries
*/
 
/* Set width to make card deck cards 100% width */
@media (max-width: 950px) { 
 
}